syntax = "proto3";

package __SERVICE_NAME__.v1;

option go_package = "github.com/thirdlf03/microservice-app/services/gen/go/__SERVICE_NAME__/v1;__SERVICE_NAME_SNAKE__v1";

service __SERVICE_NAME_PASCAL__Service {
  rpc Invoke(__SERVICE_NAME_PASCAL__Request) returns (__SERVICE_NAME_PASCAL__Response) {}
}

message __SERVICE_NAME_PASCAL__Request {
  string input = 1;
}

message __SERVICE_NAME_PASCAL__Response {
  string output = 1;
}
